<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD88zy_JDiCgH4wSRLOqgClIFe3lGz58eU</string>
	<key>GCM_SENDER_ID</key>
	<string>827630647971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ulearning1</string>
	<key>PROJECT_ID</key>
	<string>ulearning-app-63aa6</string>
	<key>STORAGE_BUCKET</key>
	<string>ulearning-app-63aa6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827630647971:ios:86fec7adec76e61cbf9d16</string>
</dict>
</plist>